<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.v2g">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.INTERNET"/>


    <application
        android:exported="true"
        android:usesCleartextTraffic="true"
        android:name=".ParseApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.V2G">

        <meta-data
            android:name="com.parse.SERVER_URL"
            android:value="https://parseapi.back4app.com" />
        <meta-data
            android:name="com.parse.APPLICATION_ID"
            android:value="tuyacJw891UzIJjpJ13IowGprt4Elbc89Zn7USKd" />
        <meta-data
            android:name="com.parse.CLIENT_KEY"
            android:value="vikxKBN6Hq3c5FeH3KI7lN3ncn0TiBrtEI4CM3IE" />

        <activity
            android:name=".MainActivity2"
            android:exported="false"
            android:label="@string/title_activity_main2" />

        <activity
            android:name=".MainActivity"
            android:exported="true">


            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>